* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    background: linear-gradient(#000000b4, #0000008c, #00000027),
      url(../assets/pexels-lisa-fotios-1655329.jpg);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .container {
    background-color: rgba(0, 0, 0, 0.576);
    border-radius: 5px;
    margin: 10px;
    height: 95vh;
    padding: 20px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
  }

  header {
    color: #ffff;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
  }

  .formUser {
    width: 100%;
    margin-top: 20px;
  }

  label {
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
    border-radius: 8px;
  }

  input {
    width: 100%;
    padding: 0.8rem;
    margin-top: 8px;
    margin-bottom: 15px;
  }

  .buttons {
    display: flex;
    gap: 10px;
  }

  .buttonOpc {
    height: 4.5rem;
    border-radius: 6px;
    color: #ffff;
    font-weight: bolder;
    border: none;
    text-transform: uppercase;
  }

  .buttonOpc:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }

  .one {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15b358;
  }

  .two {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15b358;
  }

  .three {
    background-color: #e74c3c;
    box-shadow: 0px 5px 0px 0px #ce3323;
  }

  .hero-listUsers {
    margin-top: 18px;
    width: 100%;
  }
  .hero-title-listUsers {
    font-size: 3rem;
  }

  .error-container {
    background-color: #f83f2ab9;
    display: flex;
    gap: 15px;
    padding: 8px;
    border-radius: 8px;
    color: #ffff;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .img-error {
    width: 40px;
    height: 40px;
  }
  .title-error {
    font-size: 1.7rem;
  }
  .text-error {
    font-size: 1.2rem;
  }
  .userContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 20px;
  }
  .titleUser {
    color: #ffff;
    font-size: 2.2rem;
  }
  .montoUser {
    color: #ffff;
    font-size: 2rem;
  }
}
